<div class="position-fixed bottom-0 w-100 z-3">
  <div class="position-relative">
    <div class="d-flex justify-content-between py-7 px-6 bg-primary-300 footer-clip-path">
      <div class="row row-cols-2 gx-9">
        <a href="./index.html"><svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M11.5 13.6787C11.1874 13.6787 10.8876 13.5545 10.6665 13.3334C10.4455 13.1124 10.3213 12.8125 10.3213 12.4999C10.3213 12.1873 10.4455 11.8875 10.6665 11.6664C10.8876 11.4454 11.1874 11.3212 11.5 11.3212C11.8127 11.3212 12.1125 11.4454 12.3335 11.6664C12.5546 11.8875 12.6788 12.1873 12.6788 12.4999C12.6788 12.8125 12.5546 13.1124 12.3335 13.3334C12.1125 13.5545 11.8127 13.6787 11.5 13.6787Z" fill="#E5E3DC"/>
          <path d="M9.31607 10.1424L16.5707 7.4303L13.9544 14.7999L6.03857 17.9624L9.31607 10.1424Z" stroke="#E5E3DC" stroke-width="1.59231" stroke-linecap="round" stroke-linejoin="round"/>
          <circle class="footer-svg" cx="11.5" cy="12.5" r="10.6154" stroke="#E5E3DC" stroke-width="1.76923"/>
          <path class="footer-svg" d="M11.5001 23.1154C17.3629 23.1154 22.1155 18.3627 22.1155 12.5C22.1155 6.63731 17.3629 1.88464 11.5001 1.88464C5.63743 1.88464 0.884766 6.63731 0.884766 12.5C0.884766 18.3627 5.63743 23.1154 11.5001 23.1154Z" fill="#B0A994"/>
          <path d="M11.4998 13.6766C11.1902 13.6766 10.8894 13.5527 10.6682 13.3316C10.4471 13.1104 10.3232 12.8096 10.3232 12.5C10.3232 12.1904 10.4471 11.8896 10.6682 11.6685C10.8894 11.4473 11.1902 11.3235 11.4998 11.3235C11.8094 11.3235 12.1102 11.4473 12.3313 11.6685C12.5525 11.8896 12.6763 12.1904 12.6763 12.5C12.6763 12.8096 12.5525 13.1104 12.3313 13.3316C12.1102 13.5527 11.8094 13.6766 11.4998 13.6766Z" fill="#E5E3DC"/>
          <path d="M9.31464 10.1472L16.5685 7.4314L13.95 14.8002L6.03271 17.9583L9.31464 10.1472Z" stroke="#E5E3DC" stroke-width="1.59231" stroke-linecap="round" stroke-linejoin="round"/>
        </svg></a>
          
          
        <a href="./hotel-page.html"><img class="footer-bed" src="/assets/images/icon/unselected-bed.svg" alt="bed-icon"></a>
      </div>

      <div class="row row-cols-2 gx-9">
        <a href="./social-page.html"><img class="footer-globe" src="/assets/images/icon/unselected-globe.svg" alt="globe-icon">
        </a>

        <a href="./personal-page.html"><img class="footer-user" src="/assets/images/icon/unselected-user.svg" alt="user-icon"></a>
      </div>
    </div>
    
    <div class="position-absolute translate-middle footer-bag ">
      <a class="p-5 d-block footer-icon rounded-circle" href="./mytrip.html"><svg width="25" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M20 7.5H4C2.89543 7.5 2 8.39543 2 9.5V19.5C2 20.6046 2.89543 21.5 4 21.5H20C21.1046 21.5 22 20.6046 22 19.5V9.5C22 8.39543 21.1046 7.5 20 7.5Z" stroke="#E5E3DC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M16 21.5V5.5C16 4.96957 15.7893 4.46086 15.4142 4.08579C15.0391 3.71071 14.5304 3.5 14 3.5H10C9.46957 3.5 8.96086 3.71071 8.58579 4.08579C8.21071 4.46086 8 4.96957 8 5.5V21.5" stroke="#E5E3DC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg></a>
    </div>
  </div>
</div>