<div class="position-fixed bottom-0 z-3">
  <div class="position-relative">
    <div class="d-flex justify-content-between py-7 px-6 bg-primary-300 footer-clip-path">
      <div class="row row-cols-2 gx-9">
        <a href="./search-page.html"><img class="social-explore" src="/assets/images/icon/explore-white.svg" alt="explore-icon"></a>
          
        
        <a href="./hotel-page.html"><img class="footer-bed" src="/assets/images/icon/unselected-bed.svg" alt="globe-icon">
        </a>
      </div>

      <div class="row row-cols-2 gx-9">
        <a href="./social-page.html"><img class="footer-globe" src="/assets/images/icon/unselected-globe.svg" alt="globe-icon">
        </a>

        <a href="./personal-page.html"><img class="footer-user" src="/assets/images/icon/unselected-user.svg" alt="user-icon"></a>
      </div>
    </div>
    
    <div class="position-absolute translate-middle footer-bag ">
      <a class="p-5 d-block footer-icon rounded-circle bg-primary-800" href="./mytrip.html"><img src="/assets/images/icon/briefcase-white.svg" alt=""></a>
    </div>
  </div>
</div>