<header class="sticky-header">
    <div class="d-flex align-items-center justify-content-between accommodation-header">
        <div class="text-gray-900 fs-14 fw-semibold">9:41</div>
        <ul class="d-flex align-items-center list-unstyled mb-0 accommodation-header-list">
            <li class=""><img src="../assets/images/icon/cellular-connection.png" alt="cellular-connection"></li>
            <li class=""><img src="../assets/images/icon/wifi.png" alt="wifi"></li>
            <li><img src="../assets/images/icon/battery.png" alt="battery"></li>
        </ul>
    </div>
</header>