img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
.qoq-fs-14 {
  font-size: 14px;
}
.qoq-fs-12 {
  font-size: 12px;
}
// 背景顏色 共用
.accommodation-background {
  background: linear-gradient(
      180deg,
      #ffffff 3.51%,
      #e5e3dc 25.5%,
      #ffffff 80.15%
    )
    no-repeat;
}
// 輸入框
.accommodation-input-group {
  width: 343px;
  div:first-child {
    padding-bottom: 6px;
    border-bottom: 1px solid #d9d9d9;
  }
  .input-group-text {
    border: none;
    background-color: transparent;
  }
  .form-control {
    border: none;
    background-color: transparent;
    &::placeholder {
      color: $primary-400;
      font-family: 500;
      font-size: 16px;
    }
    &:focus {
      outline: none;
      box-shadow: none;
      border-color: transparent;
      background-color: transparent;
    }
  }
}
// 日期、一人獨旅、2K-4K ，tab 按鈕
.tab-list {
  li {
    width: 106.33px;
    border-radius: 16px;
    padding: 10px 0;
    border: 1.5px solid $primary-500;
  }
  // 按鈕 a 連結顏色
  .tab-list-btn {
    a {
      color: $primary-500;
    }
  }
  // 按鈕 a 連結 hover 文字顏色
  .tab-list-btn:hover,
  .tab-list-btn:active {
    background-color: $primary-600;
    a {
      color: $primary-50;
    }
  }
  // 日期、一人獨旅 svg 設定，因為有兩個 svg 切換
  .tab-list-btn {
    a {
      position: relative;
      display: inline-block;
    }
    .default-icon {
      display: block;
    }

    .hover-icon {
      display: none;
    }

    &:hover {
      .default-icon {
        display: none;
      }

      .hover-icon {
        display: block;
      }
    }
  }
}

// 獨家折扣、熱門住宿、日式町屋、溫泉旅館
// 這邊是用圖片替代方式，但hover前後閃爍明顯，所以先不用
// .feature-tab-list {
//   li {
//     &:nth-child(1) a:hover {
//       background-image: url("../assets/images/feature-tab-icon/discount-icon_hover.png");
//     }
//     &:nth-child(2) a:hover {
//       background-image: url("../assets/images/feature-tab-icon/popular-accommodation_hover.png");
//     }
//     &:nth-child(3) a:hover {
//       background-image: url("../assets/images/feature-tab-icon/machiya_hover.png");
//     }
//     &:nth-child(4) a:hover {
//       background-image: url("../assets/images/feature-tab-icon/spring-hotel_hover.png");
//     }
//   }
//   a {
//     display: block;
//     width: 84px;
//     height: 99px;
//     background-size: cover;
//     transition: background-image 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
//     img {
//       display: block;
//       transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
//     }
//     &:hover img {
//       opacity: 0;
//     }
//   }
// }
// 設計稿我看不出顏色差別，遮罩自己選的
.feature-tab-list {
  li {
    a {
      display: block;
      width: 84px;
      height: 99px;
      position: relative;
      border-radius: 16px;
      overflow: hidden; /* 确保圆角效果应用于遮罩 */
      img {
        display: block;
        transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
        border-radius: 16px;
      }
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.1); /* 半透明黑色遮罩 */
        opacity: 0;
        transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
        border-radius: 16px;
      }
      &:hover::before {
        opacity: 1;
      }
    }
  }
}

// 為您推薦
.map-icon-wrapper {
  width: 100px;
  height: 52px;
  border-radius: 24px 0 0 24px;
  position: relative;
  display: inline-block;
  // 地圖按鈕 hover 設定
  .map-icon {
    position: absolute;
    top: 4;
    left: 4;
    transition: opacity 0.3s ease;
  }
}

.map-icon.default {
  opacity: 1;
}
.map-icon.hover {
  opacity: 0;
}
.image-container:hover .map-icon.default {
  opacity: 0;
}
.image-container:hover .map-icon.hover {
  opacity: 1;
}
// 控制往下滑時，共通 phone header 會固定在上方
.sticky-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1001;
  transition: background-color 0.3s ease;
}
.sticky-header.scrolled {
  background-color: $primary-50;
}
// 控制往下滑時，回上一頁按鈕會固定在上方
.sticky-header-sec {
  position: -webkit-sticky;
  position: sticky;
  top: 45px;
  z-index: 1001;
  transition: background-color 0.3s ease;
}
.sticky-header-sec.scrolled {
  background-color: $primary-50;
}
// 控制往下滑時，為你推薦、地圖按鈕會固定在上方
.sticky-header-map {
  position: -webkit-sticky;
  position: sticky;
  top: 86px;
  z-index: 1001;
  transition: background-color 0.3s ease;
}
.sticky-header-map.scrolled {
  background-color: $primary-50;
}

// 住宿列表
.accommodation-list {
  border-radius: 16px;
  &:hover {
    // 設計稿是 $primary-50，但看起來太淡，所以先改成 $primary-100
    background: $primary-100;
  }
}
.accommodation-list-img {
  border-radius: 16px;
  width: 100%;
  height: 180px;
  overflow: hidden;
  position: relative;
  div {
    top: 12px;
    left: 12px;
    border-radius: 8px;
    color: #ffffff;
  }
  svg {
    top: 10px;
    right: 12px;
  }
  img {
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
// footer
.accommodation-footer-wrapper {
  padding: 21px;
}

// 日曆 -  Bootstrap Datepicker
/* 自定義日期選擇器的樣式 */
.datepicker-card-body {
  width: auto;
  margin: 0 16px;
  background-color: #ffffff;
  border: 1.5px solid #cdcabb;
  border-radius: 16px;
  padding: 8px 24px 20px 24px;
  .datepicker-days {
    width: 100%;
  }
  .datepicker-footer {
    border-radius: 32px;
    padding: 12px 32px;
    text-align: center;
  }
}
// 日曆內部
.datepicker-inline {
  font-size: 14px;
  font-family: 400;
  color: #6a6a6a;
  width: 100%;
  margin-bottom: 12px;
  .datepicker-days {
    width: 100%;
  }
  .table-condensed {
    width: 100%;
  }
}

.datepicker table tbody tr td.active {
  background-color: #dd1111; /* 自定义选中日期单元格背景颜色 */
  color: #ffffff; /* 自定义选中日期单元格文字颜色 */
}
.datepicker table tbody tr td.day:hover {
  background-color: #23ca4d; /* 自定义日期单元格悬停背景颜色 */
}
// 控制每一個日期寬度
.datepicker th {
  text-align: center;
  width: 61px;
  height: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: none;
  margin-bottom: 8px;
}
/* 隐藏不属于当前月份的日期 */
.datepicker .old,
.datepicker .new {
  visibility: hidden;
}

// 一人獨旅按鈕向下推的內容
.cardTraveling {
  // 橫槓
  span {
    display: inline-block;
    background-color: #969696;
    width: 16px;
    height: 1.5px;
  }
  background-color: #ffffff;
  border: 1px solid #8a7f68;
  border-radius: 16px;
  padding: 16px 24px;
  margin: 0 16px;
  .tab-index-btn {
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 4px;
    padding: 8px 0;
    color: $primary-500;
    &:hover {
      background-color: $primary-600;
      color: #ffffff;
      span {
        background-color: #ffffff;
      }
    }
  }
  ul li {
    border-radius: 20px;
    padding: 12px 32px;
  }
}
// 旅宿導航外層三個按鈕選中狀態
.tabWrapperSelected:avtive {
  background-color: $primary-600;
  color: #ffffff;
}
// 一人獨旅按鈕向下推的內容被選取時狀態
.tabSelected {
  background-color: $primary-600;
  color: #ffffff;
}

// 放在兩個子層，控制出現效果
.horizontal-collapse {
  height: 0;
  overflow: hidden;
  transition: height 0.2s linear;
}
.horizontal-collapse.show {
  height: auto;
  transition: height 0.2s linear;
}
