// body {
//   font-family: "Noto Sans TC", sans-serif;
// }
// .sf-pro {
//   font-family: "SF Pro Display", sans-serif;
// }
.bodyWrapper-all {
  width: 375px;
  height: 812px;
}

html {
  overflow: -moz-hidden-unscrollable;
  height: 100%;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  height: 100%;
  width: calc(100vw + 18px);
  overflow: auto;
}

body {
  height: 100%;
  width: calc(100vw + 18px); /*瀏覽器滾動條的長度大約是 18px*/
  overflow: auto;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

// index_1、index_2、index_3 使用背景插入圖片
.start-background {
  position: relative;
  background-image: url("../images/background-img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 100%;
  height: 812px;
  // 選項按鈕
  .index-btn {
    cursor: pointer;
    border-radius: 20px;
    color: #998f76;
    background-color: #e5e3dc;
    border: 1.5px solid #998f76;
  }

  // 圓點分頁
  .start-pagination {
    padding-bottom: 24px;
  }
  // 首頁被選取時狀態
  .selected {
    background-color: #766a58;
    color: #f5f4f1;
  }
  // 略過、上一部按鈕共用
  .skip-btn {
    border-radius: 20px;
    border: 1.5px solid #919982;
    color: #919982;
    background-color: transparent;
  }
  // 下一步按鈕共用
  .next-btn {
    background-color: #747d65;
    color: #ffffff;
    border-radius: 20px;
  }
}
.skip-next-btn {
  display: flex;
  justify-content: space-between;
  .skip-btn {
    margin-right: 6px;
  }
  .next-btn {
    margin-left: 6px;
  }
}
// index_1
.index_1-wrapper {
  padding-top: 94px;
}
// index_2、index_3
.index_23-wrapper {
  padding-top: 137px;
}

.index-fixed-bottom {
  position: fixed;
  bottom: 6px;
  z-index: 1030;
  width: 343px; /* 减去左右内边距  375px - 32px */
  max-height: 812px;
  background-color: transparent;
}
// 当视口高度小于 812px 时
@media (min-height: 812px) {
  .index-fixed-bottom {
    position: absolute;
    bottom: 40px;
  }
}
