// body {
//   font-family: "Noto Sans TC", sans-serif;
// }
// .sf-pro {
//   font-family: "SF Pro Display", sans-serif;
// }
img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
//
.indexStar-header {
  padding: 14px 14px 12px 21px;
  .indexStar-header-list {
    li {
      &:nth-child(1),
      &:nth-child(2) {
        padding-right: 5px;
      }
    }
  }
}

// index 第一頁圖片(背景)圓角，這裡是用 img 控制
.indexStar-img {
  border-radius: 20px;
  width: 375px;
}
// index_1、index_2、index_3 使用背景插入圖片
.start-background {
  background-image: url("../images/background-img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  max-width: 100%;
  height: 812px;
  // 選項按鈕
  .index-btn {
    cursor: pointer;
    border-radius: 20px;
    color: #998f76;
    background-color: #e5e3dc;
    border: 1.5px solid #998f76;
  }
  // 選項外圍
  .start-list {
    padding-bottom: 118px;
  }
  // 圓點分頁
  .start-pagination {
    padding-bottom: 25px;
  }
  // 首頁被選取時狀態
  .selected {
    background-color: #766a58;
    color: #f5f4f1;
  }
  // 略過、上一部按鈕共用
  .skip-btn {
    border-radius: 20px;
    border: 1.5px solid #919982;
    color: #919982;
    background-color: transparent;
  }
  // 下一步按鈕共用
  .next-btn {
    background-color: #747d65;
    color: #ffffff;
    border-radius: 20px;
  }
}
// index_1
.index_1-wrapper {
  padding-top: 113px;
}
// index_2、index_3
.index_23-wrapper {
  padding-top: 137px;
}
// index 的 footer
.index-footer {
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
}
