.trip-h2 {
  font-size: 18px;
}

.trip-img {
  padding-top: 10%;
  padding-bottom: 10%;
}





.mytrip-track {
  display: block;
  color: #AFAFAF;
  border-bottom: 2px solid #AFAFAF;
}

.mytrip-track-1 {
  display: block;
  color: #766A58;
  border-bottom: 2px solid #766A58;
}



.mytrip-track:hover {
  color: #766A58;
  border-bottom: 2px solid #766A58;
}



.mytrip-track:focus {
  color: #766A58;
  border-bottom: 2px solid #766A58;
}


.box {
  height: 10vh;
}