body {
  background: linear-gradient(#FFFFFF, #E5E3DC, #FFFFFF);

  padding-bottom: 25%;
}

a {
  text-decoration: none;
  color: inherit;
}










.header-explor {
  letter-spacing: 0.5rem;
}

.form-control::placeholder {
  color: #998F76;
  font-weight: bold;
}

.btn:hover {
  color: white;
}

.btn:hover .svg-icon {
  stroke :#FFFFFF;
}

.btn:hover .svg-icon-fill {
  fill: #FFFFFF;
}

.icon-bg-img {
  background: linear-gradient(-45deg,#E5E3DC,#B0A994), url(/assets/images/feature-tab-icon/Noise.png);

  background-blend-mode: overlay;
  
  
  transition: background 0.3s ease;
}

.icon-bg-img:hover {
  background: linear-gradient(rgba(229, 227, 220, 1),rgb(158, 145, 106)), url(/assets/images/feature-tab-icon/Noise.png);

  background-blend-mode: overlay;
}


.bookmark-fill:hover {
  fill: #FFFFFF;
}


.text-hidden {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-rate {
  margin-left: 4px;
  font-size: 12px;
}

.tour-img {
  max-height: 240px;

  object-fit: cover;
  object-position: 50% 25%;
}

.tour-img-2 {
  max-height: 240px;

  object-fit: cover;
  object-position: 50% 50%;
}
