<!DOCTYPE html>
<html lang="zh-TW">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>🌟𝓐-𝓐-𝓟-𝓓🌠</title>
</head>

<body class="mx-auto" style="width: 375px;">
  <!-- <%- include('./layout/header'); -%> -->
  <section>
    <a href="./index_1.html">
      <img src="../assets/images/background-img/start.png" alt="京都散策">
    </a>
  </section>
  <!-- <%- include('./layout/footer'); -%> -->
  <script type="module" src="../main.js"></script>
</body>

</html>